@model AplicativoChamados.Models.Usuario

<div class="col-sm-4 col-md-4 col-xl-4">
    <a asp-controller="Usuarios" asp-route-chamadoId="@Model.usuarioId" class="text-decoration-none text-dark">
        <br />
        <div class="border rounded p-3">
            <h5>@Model.usuarioId</h5>
            <h4>@Model.nomeCompleto</h4>
            <div>
                <p class="button">
                    <a class="btn btn-primary" id="cartButton" asp-controller="Usuarios" asp-action="Visualizar" asp-route-usuarioId="@Model.usuarioId">Visualizar</a>
                    <a class="btn btn-secundary" id="cartButton" asp-controller="Usuarios" asp-action="Remover" asp-route-usuarioId="@Model.usuarioId">Excluir</a>
                    <a class="btn btn-secundary" id="cartButton" asp-controller="Usuarios" asp-action="Alterar" asp-route-usuarioId="@Model.usuarioId">Editar</a>
                </p>
            </div>
        </div>
    </a>
</div>